{% extends 'base.html.twig' %}

{% block title %}Billetterie du Louvre{% endblock %}



{% block body %}

    <h2>Conditions Générales de Vente</h2>

    <div class="row">
        <div class="col-md-8">
            <ul>
                <li><a href="#1" style="color:black;">Objet</a></li>
                <li><a href="#2" style="color:black;">Champ d'application des présentes conditions générales de vente</a></li>
                <li><a href="#3" style="color:black;">Présentation des billets</a></li>
                <li><a href="#4" style="color:black;">Conditions d'utilisation</a></li>
                <li><a href="#5" style="color:black;">Modalités de commande</a></li>
                <li><a href="#6" style="color:black;">Tarifs</a></li>
                <li><a href="#7" style="color:black;">Modalités de paiement</a></li>
                <li><a href="#8" style="color:black;">Sécurisation des paiements</a></li>
                <li><a href="#9" style="color:black;">Traitement des données personnelles</a></li>
                <li><a href="#10" style="color:black;">Cookies</a></li>
                <li><a href="#11" style="color:black;">Traitement des demandes de remboursement</a></li>
                <li><a href="#12" style="color:black;">Contestation d'un débit bancaire</a></li>
                <li><a href="#13" style="color:black;">Responsabilité</a></li>
                <li><a href="#14" style="color:black;">Droit applicable - règlement des litiges</a></li>
            </ul>
            <p class="font-italic">Les présentes conditions sont applicables à compter du 1er octobre 2018</p>
        </div>
    </div>

    <div class="col-md-12">
        <div class="alert alert-dark" role="alert">
            1 - Objet
        </div>
        <ul id="1" class="list-unstyled">
            <li>1.1	Les présentes conditions générales de vente ont pour objet de définir les dispositions contractuelles
                entre l'Etablissement Public du Musée du Louvre (ci-après dénommé l'EPML),
                Etablissement public à caractère administratif regroupant le musée national du Louvre et le musée national
                Eugène Delacroix, conformément aux dispositions du décret n° 92-1338 du 22 décembre 1992 modifié portant
                création de l'Etablissement Public du Musée du Louvre.
                Siret n° 180 046 237 000 12 - APE n° APE 9103Z.
                Domicilié Musée du Louvre - 75058 Paris Cedex 01 – France.
                Contrat commerçant : 2333280 EPML DE INTERNET

                et toute personne physique ou morale (ci-après dénommée l'acheteur) achetant des billets individuels
                sur le site de vente en ligne de billets.</li>

        </ul>
        <ul class="list-unstyled">
            <li>1.2	L’acheteur reconnaît avoir pris connaissance des présentes conditions générales de vente préalablement
                à la validation de sa commande. Le fait de passer commande vaut acceptation par l’acheteur des présentes
                conditions générales de vente.
                </li>
        </ul>
        <ul class="list-unstyled">
            <li> 1.3	L’EPML se réserve la possibilité d'adapter ou de modifier à tout moment les présentes conditions
                générales de vente. En cas de modification, les conditions applicables à un achat sont celles en vigueur
                au jour de la commande.</li>
        </ul>
        <div class="alert alert-dark" role="alert">
            2 - Champ d'application des présentes conditions générales de vente
        </div>
        <ul id="2" class="list-unstyled">
            <li>2.1	Sont proposés sur le site « www.ticketlouvre.fr » de vente en ligne des billets pour les prestations suivantes :<br>
                - musée du Louvre, permettant l’accès aux collections permanentes et expositions temporaires du musée du Louvre,
                donnant également accès aux collections et expositions temporaires du musée Eugène Delacroix et
                à l'antenne du musée du quai Branly au Louvre.<br>

                - audioguide, correspondant à la location de l’audioguide du musée du Louvre et permettant de le retirer
                aux comptoirs de distribution situés aux entrées des collections. Un document d’identité en cours de
                validité sera demandé en dépôt lors du retrait de l’audioguide.<br>

                - visites guidées, permettant d'explorer le musée avec un conférencier autour d'un thème particulier de
                l'histoire de l'art, d'une période, d'un genre, d'un artiste, d'une collection, ou les expositions
                temporaires grâce aux visites conférences.<br>

                - atelier, proposant un  vaste choix d'approches artistiques pour découvrir les collecvtions du musée
                sous la conduite d'un artiste spécialiste. les ateliers proposent de conjuguer théorie, pratique
                artistique et observation des oeuvres dans les salles du musée.
            </li>

        </ul>
        <ul class="list-unstyled">
            <li>2.2	Le site Internet informe l’acheteur de la disponibilité des prestations au moment de la passation
                de la commande.
                </li>
        </ul>
        <ul class="list-unstyled">
            <li>2.3	Le nombre de billets vendus en ligne par commande et par personne est limité comme suit :<br>

                - musée du Louvre : 6

                </li>
        </ul>
        <div class="alert alert-dark" role="alert">
            3 - Présentation des billets
        </div>
        <ul id="3" class="list-unstyled">
            <li>3.1	Le billet est imprimable à la validation du règlement. Il est accessible et peut être édité depuis
                le courriel de confirmation.

            </li>

        </ul>
        <ul class="list-unstyled">
            <li> 3.2	Le billet doit avoir été imprimé par l’acheteur préalablement à la visite, sans modification de
                la taille d’impression, pleine page, sur du papier A4 blanc, vierge recto et verso. Les billets
                partiellement ou mal imprimés, endommagés ou illisibles ne sont pas valides.
                En cas de billet oublié, abimé, mal imprimé, ou comportant une erreur de nom du porteur, l’EPML se réserve
                la possibilité de le réimprimer afin de faciliter les démarches du visiteur.
                </li>
        </ul>
        <ul class="list-unstyled">
            <li> 3.3	Le billet délivré par l’EPML comporte notamment:<br>
                - le nom et le logo du Louvre<br>
                - le nom du porteur<br>
                - les dates et période de la prestation<br>
                - le type de tarif appliqué<br>
                - le prix de vente de la prestation, en euros<br>
                - le numéro du billet attribué par le système de billetterie
            </li>
        </ul>
        <div class="alert alert-dark" role="alert">
            4 - Conditions d'utilisation
        </div>
        <ul id="4" class="list-unstyled">
            <li>4.1	Les billets<br>

                4.1.1	Les billets achetés en ligne sont valables exclusivement pour la prestation,
                à la date et à compter de la période mentionnées.<br>

                4.1.2	Les billets achetés en ligne permettent un accès à la pyramide du Louvre. En cas de retard
                au-delà de la période d’accès, les porteurs de billets print@home sont soumis aux mêmes conditions
                d’accès et d’attente que les autres visiteurs.<br>

                4.1.3	Chaque billet acheté en ligne est personnel, nominatif et incessible. Il comporte le nom de son
                porteur, renseigné par l’acheteur au moment de l’achat en ligne. Un document d’identité en cours de
                validité avec photographie peut être demandé. En cas de non présentation d’un tel document, l’accès
                à la prestation peut être refusé.<br>

                4.1.4	L’accès à la prestation est soumis au contrôle de la validité du billet. Il est est contrôlé et
                enregistré par les agents de contrôle aux entrées des collections.<br>

                4.1.5	La première personne à présenter le billet est présumée en être le porteur légitime. Il sera
                refusé l’accès à la prestation à toute autre personne se présentant ultérieurement avec une copie
                du billet.<br>

                4.1.6	Le visiteur doit conserver son billet par devers lui durant toute la durée de la prestation.<br>

                4.1.7	Toute sortie du hall Napoléon ou d’une aile du musée est définitive. Un même billet d’entrée
                donne un accès unique aux collections permanentes et aux expositions temporaires.<br>

                4.1.8	Toute personne qui reproduirait illégalement un billet et/ou utiliserait un billet contrefait
                s’exposerait à des poursuites pénales.<br>

                4.1.9	L’EPML décline toute responsabilité en cas de perte ou de vol ou d’utilisation de copies à
                l’insu de l’acheteur, y compris dans l’enceinte du musée.<br>

                4.1.10	En cas de non-respect d’une des conditions énoncées au présent article, l’EPML se réserve le
                droit de refuser l’accès à la prestation concernée.<br>

                <ul class="list-unstyled">
                    <li> 4.2	Mesures de sécurité
                        4.2.1	Afin d’assurer la sécurité des visiteurs, le musée du Louvre applique les mesures préventives
                        décidées par le gouvernement pour les administrations publiques. Toutes les personnes doivent se prêter
                        aux contrôles de sécurité.<br>

                        4.2.2	Les valises et sacs de grande contenance sont interdits. Seuls les bagages n’excédant pas les
                        tailles maximales de 55cm x 35cm x 20cm sont autorisés dans les espaces d’accueil. Ils ne sont pas admis
                        dans les collections et doivent impérativement être déposés aux vestiaires après avoir été contrôlés.
                    </li>
                </ul>

            </li>

        </ul>

        <div class="alert alert-dark" role="alert">
            5 - Modalités de commande
        </div>
        <ul id="5" class="list-unstyled">
            <li>5.1	L’acheteur effectue son achat de billet en ligne comme suit :<br>
                Se rendre sur la page de la billetterie du Louvre<br>
                Choisir son ou ses billets.<br>
                Sélectionner la date de visite et la période souhaitées à l’aide du calendrier affichant les périodes
                disponibles.<br>
                Choisir la quantité de billets désirés, puis poursuivre les achats ou finaliser la commande.<br>
                Un récapitulatif de commande s’affiche avant la validation de l’achat.<br>
                Si la commande correspond, valider. Si la commande ne convient pas, retourner à la sélection de billets.<br>
                Cliquer sur "paiement".<br>
                Régler la commande par carte bancaire.<br>

            </li>

        </ul>
        <ul class="list-unstyled">
            <li>  5.2	Tant que le paiement n’a pas été enregistré, le contenu de la commande peut être modifié.
            </li>
        </ul>
        <ul class="list-unstyled">
            <li> 5.3	Si le paiement est accepté la confirmation de commande s’affiche. L’acheteur reçoit un courriel
                de confirmation de commande.
            </li>
        </ul>
        <ul class="list-unstyled">
            <li> 5.4	A partir du courriel de confirmation, l’acheteur imprime son (ses) billet(s) en indiquant
                les prénom(s) et nom(s) du (des) porteur(s) du (des) billet(s).
            </li>
        </ul>
        <ul class="list-unstyled">
            <li>  5.5	L’EPML se réserve le droit de refuser toute commande d'un client qui n’observerait pas ses
                conditions générales de vente.
            </li>
        </ul>

        <div class="alert alert-dark" role="alert">
            6 - Tarifs
        </div>
        <ul id="6" class="list-unstyled">
            <li>6.1	Les tarifs applicables sont ceux en vigueur au moment de la commande.</li>
        </ul>
        <ul class="list-unstyled">
            <li>  6.2	Les tarifs et les cas d’exonération sont consultables sur le site de vente en ligne de l’EPML.</li>
        </ul>
        <ul class="list-unstyled">
            <li>  6.3	L’EPML se réserve le droit de modifier les prix à tout moment.</li>
        </ul>
        <ul class="list-unstyled">
            <li> 6.4	Le visiteur susceptible de bénéficier d'une exonération devra présenter aux contrôles des titres
                d’accès aux prestations, le justificatif afférent en cours de validité, nominatif et avec photographie.
                En cas de non présentation ou de non-conformité du justificatif, l’accès à la prestation sera refusé.
            </li>
        </ul>

        <div class="alert alert-dark" role="alert">
            7 - Modalités de paiement
        </div>

        <ul id="7" class="list-unstyled">
            <li>7.1	Le paiement des billets par le client s'effectue par carte bancaire. Les cartes de paiement acceptées
                sur le site de la billetterie du Louvre sont : Carte Bleue, Visa, Mastercard, E-carte bleue.
            </li>
        </ul>

        <ul class="list-unstyled">
            <li>  7.2	Dès l’acceptation du paiement, l’acheteur reçoit un courriel récapitulant sa commande.</li>
        </ul>

        <ul class="list-unstyled">
            <li>  7.3	Conformément à la réglementation bancaire en vigueur, l’archivage des données bancaires est de
                quinze (15) mois à compter de la date de transaction. A la suite de ce délai, les données sont détruites.
            </li>
        </ul>
        <div class="alert alert-dark" role="alert">
            8 - Sécurisation des paiements
        </div>

        <ul id="8" class="list-unstyled">
            <li>8.1	Le site de paiement de l'EPML utilise la plateforme d'encaissement STRIPE.</li>
        </ul>
        <div class="alert alert-dark" role="alert">
            9 - Traitement des données personnelles
        </div>
        <ul id="9" class="list-unstyled">
            <li>9.1	Le musée du Louvre, responsable de traitement, est amené à collecter, utiliser, transférer,
                conserver ou effectuer tout autre traitement de données à caractère personnel concernant le client pour
                la gestion de sa commande, la finalisation de sa transaction, son information et ses relations avec l’EPML.

                Plus particulièrement, ces données sont traitées par le musée du Louvre afin d’exécuter les opérations suivantes :<br>
                -  envoi d'informations et de sollicitations ;<br>
                -  réalisation d’études statistiques.
            </li>
        </ul>

        <ul class="list-unstyled">
            <li>   9.2	Les données enregistrées sont réservées à l’usage des services habilités du musée du Louvre et
                peuvent être communiquées à ses prestataires sous-traitant qui interviennent dans le processus d’achat
                des billets. De même, les messages électroniques envoyés au musée du Louvre, ainsi que les adresses
                e-mails correspondantes, sont susceptibles d'être conservés. Les données à caractère personnel ainsi
                collectées seront conservées pendant une durée de 3 ans à compter du dernier achat.</li>
        </ul>

        <ul class="list-unstyled">
            <li>  9.3	Conformément à la loi du 6 janvier 1978 modifiée dite « Informatique et Libertés » et au règlement
                européen 2016/679 du 27 avril 2016 dit « Règlement Général sur la Protection des Données », vous disposez
                d’un droit d’accès, de rectification, de modification et de suppression des données qui vous concernent.
                Vous pouvez ainsi exiger que soient rectifiées, complétées, clarifiées, mises à jour ou effacées
                les informations vous concernant qui sont inexactes, incomplètes, équivoques, ou périmées. Vous pouvez
                également exercer vos droits d’opposition et de limitation du traitement de vos données ainsi que votre
                droit à la portabilité des informations vous concernant.
            </li>
        </ul>
        <ul class="list-unstyled">
            <li>  9.4 Afin d’exercer vos droits, vous pouvez adresser une demande par courriel à l’adresse suivante
                : louvreetvous@louvre.fr.  Vous disposez également d’un droit de recours auprès d’une autorité nationale
                de contrôle telle que la Commission Nationale de l’Informatique et des libertés en cas de violation de
                la règlementation applicable en matière de protection des données personnelles.
            </li>
        </ul>

        <div class="alert alert-dark" role="alert">
            10 - Cookies
        </div>
        <ul id="10" class="list-unstyled">
            <li>10.1	Le site de l'EPML utilise des cookies :<br>
               - « de session », nécessaires à la commande en ligne et détruits dès retrait du site ;
               - « disque », pour collecter des données anonymes utilisées à des fins statistiques.

            </li>
        </ul>

        <ul class="list-unstyled">
            <li>   10.2	L’utilisation des cookies peut être désactivée par la sélection par l’acheteur des paramètres
                appropriés de son navigateur Internet. Une telle désactivation peut empêcher l’utilisation de certaines
                fonctionnalités du site de vente en ligne de billetterie de l’EPML. En achetant en ligne, l’acheteur
                consent donc expressément au traitement de ses données nominatives dans les conditions et pour les
                finalités décrites ci-dessus.</li>
        </ul>

        <div class="alert alert-dark" role="alert">
            11 - Traitement des demandes de remboursement
        </div>
        <ul id="11" class="list-unstyled">
            <li>11.1 La vente de billets d’entrée pour un musée ou de prestations liées à celui-ci est assimilée à
                une vente de services de loisirs et, conformément à l’article L 121-21-8-12° du Code de la consommation,
                n’ouvre aucun droit au délai de rétractation.
            </li>
        </ul>

        <ul class="list-unstyled">
            <li>11.2 Les billets sont incessibles, non échangeables et ne peuvent être revendus.</li>
        </ul>
        <ul class="list-unstyled">
            <li> 11.3 Les date, période et nom du porteur du billet sont modifiables jusqu’à la date et la période
                programmées de la visite. Les modifications peuvent être effectuées à distance, par courriel adressé à
                assistance-billetterie@louvre.fr, ou sur place au comptoir d’assistance billetterie.</li>
        </ul>
        <ul class="list-unstyled">
            <li> 11.4 En cas d’erreur de bonne foi d’un achat de billet pour un visiteur bénéficiant d’une exonération
                un droit à remboursement est ouvert.</li>
        </ul>
        <ul class="list-unstyled">
            <li> 11.5 Les demandes doivent être adressées à assistance-billetterie@louvre.fr ou par courrier adressé à
                : Musée du Louvre-Assistance Billetterie-75058 Paris cedex 01, et s’accompagner du numéro de la commande
                correspondante et, pour les remboursements, des coordonnées bancaires (Relevé d’Identité Bancaire).</li>
        </ul>
        <ul class="list-unstyled">
            <li> 11.6 En cas d’annulation ou de modification de la prestation correspondante par l’EPML ou d'erreur de
                traitement de la demande par l’EPML, un droit à remboursement est ouvert après l’heure d’exécution de
                la prestation.
                L’acheteur doit en faire la demande dans un délai de trois (3) mois à compter de la date d’annulation
                ou de modification de la prestation, sur présentation du billet non invalidé et de ses coordonnées
                bancaires (Relevé d’Identité Bancaire), à l’exclusion de tout autre dédommagement ou indemnité quelconque
                par courriel sur assistance-billetterie@louvre.fr ou par courrier adressé à :<br>
                Musée du Louvre - Assistance Billetterie - 75058 Paris cedex 01.</li>
        </ul>

        <div class="alert alert-dark" role="alert">
            12 - Contestation d'un débit bancaire
        </div>
        <ul id="12" class="list-unstyled">
            <li>12.1 En cas de contestation en raison du vol ou de la perte de la carte de paiement, l’acheteur doit
                faire immédiatement opposition en appelant le numéro indiqué par l’établissement bancaire émetteur de
                la carte de paiement. En cas de vol, il doit faire un dépôt de plainte auprès des autorités compétentes.
            </li>
        </ul>

        <ul class="list-unstyled">
            <li>12.2 En cas de contestation en raison d’anomalies constatées par l’acheteur sur son relevé de compte,
                alors qu‘il est toujours en possession de sa carte de paiement, l’acheteur doit déposer une réclamation
                auprès de l’établissement bancaire émetteur de la carte de paiement, dès que possible et dans les délais
                fixés par la loi, de treize (13) mois à compter de la date de débit sur l’opération contestée.
                La réclamation est transmise via le réseau bancaire à l’EPML. Dans le cas d’une réclamation justifiée,
                l’ordre est donné au teneur de compte de l’EPML d’effectuer le remboursement par un crédit sur le compte
                bancaire de l’acheteur..</li>
        </ul>

        <div class="alert alert-dark" role="alert">
            13 - Responsabilité
        </div>
        <ul id="13" class="list-unstyled">
            <li>13.1	Ni l’EPML, ni l’acheteur ne sauraient être tenus responsables de toute inexécution qui aurait
                pour origine un cas de force majeure. Sont notamment considérés comme des cas de force majeure :
                les guerres, les émeutes, les insurrections, les restrictions gouvernementales ou légales, les incendies,
                les tremblements de terre, les tempêtes et inondations.
            </li>
        </ul>

        <ul class="list-unstyled">
            <li>13.2	Sauf dysfonctionnement du site «www.ticketlouvre.fr » qui lui serait imputable, l’EPML ne pourra
                être tenu responsable des anomalies pouvant survenir en cours de commande, de traitement,
                de téléchargement ou d'impression du billet, soit du fait de l’acheteur, soit du fait imprévisible et
                insurmontable d'un tiers étranger à la prestation, soit du fait de pannes d'ordinateur, de serveur,
                le blocage des télécommunications y compris des réseaux et notamment d'Internet.</li>
        </ul>
        <ul class="list-unstyled">
            <li>13.3	L’EPML ne pourrait être tenu responsable de l'usage des billets achetés, l’acheteur étant seul
                responsable de leur utilisation par lui-même ou par un tiers.</li>
        </ul>

        <div class="alert alert-dark" role="alert">
            14 - Droit applicable - règlement des litiges
        </div>
        <ul id="14" class="list-unstyled">
            <li>Les présentes conditions générales de vente sont régies par la loi française.<br>

                En cas de litige, les tribunaux de Paris sont seuls compétents, après épuisement des voies de recours amiables.
            </li>
        </ul>

    </div>


{% endblock %}
