{% extends 'base.html.twig' %}

{% block title %}Billetterie du Louvre{% endblock %}



{% block body %}

    <h2>Conditions Générales de Vente</h2>

    <div class="row">
        <div class="col-md-8">
            <ul>
                <li><a href="#1" style="color:black;"></a></li>
                <li><a href="#2" style="color:black;"></a></li>
                <li><a href="#3" style="color:black;"></a></li>
                <li><a href="#4" style="color:black;"></a></li>
                <li><a href="#5" style="color:black;"></a></li>
                <li><a href="#6" style="color:black;"></a></li>
                <li><a href="#7" style="color:black;"></a></li>
                <li><a href="#8" style="color:black;"></a></li>
                <li><a href="#9" style="color:black;"></a></li>
                <li><a href="#10" style="color:black;"></a></li>
                <li><a href="#11" style="color:black;"></a></li>
                <li><a href="#12" style="color:black;"></a></li>
                <li><a href="#13" style="color:black;"></a></li>
                <li><a href="#14" style="color:black;"></a></li>
            </ul>
        </div>
    </div>









{% endblock %}
