{% extends 'base.html.twig' %}

{% block title %}Billetterie du Louvre{% endblock %}



{% block body %}

    <h2>Contact</h2>

    <p>Prenez soin d'identifier l'interlocuteur le mieux adapté, votre demande n'en sera que mieux traitée !</p>

    <div class="note">
        <p>En cas de problème</p>
        <ul>
            <li>Consulter la FAQ</li>
            <li>Contacter contact@louvre.fo</li>
        </ul>

    </div>







{% endblock %}
