{% extends 'base.html.twig' %}

{% block title %}Billetterie du Louvre{% endblock %}



{% block body %}

    <h2>FAQ</h2>
    <div class="row">
        <div class="col-md-8">
            <h4>INFORMATIONS PRATIQUES</h4>
        </div>
        <div class="col-md-7">
            <ul>
                <li><a href="#1" style="color:black;">Combien coûte un billet ?</a></li>
                <li><a href="#2" style="color:black;">Comment bénéficier d'un tarif réduit ?</a></li>
                <li><a href="#3" style="color:black;">Quels sont les jours et heures d'ouverture du musée ?</a></li>
                <li><a href="#4" style="color:black;">Quels sont les jours fériés ouverts au public ?</a></li>
            </ul>
        </div>
        <div class="col-md-8">
            <h4>ACHETER SON BILLET EN LIGNE</h4>
        </div>
        <div class="col-md-7">
            <ul>
                <li><a href="#5" style="color:black;">Comment acheter mon billet en ligne ?</a></li>
                <li><a href="#6" style="color:black;">Quelles sont les offres disponibles sur le site de la billetterie en ligne ?</a></li>
            </ul>
        </div>
        <div class="col-md-8">
            <h4>LE PAIEMENT EN LIGNE</h4>
        </div>
        <div class="col-md-7">
            <ul>
                <li><a href="#7" style="color:black;">Le paiement est-il sécurisé ?</a></li>
                <li><a href="#8" style="color:black;">Mon paiement est-il validé ?</a></li>
                <li><a href="#9" style="color:black;">Pourquoi mon paiement est-il refusé ?</a></li>
                <li><a href="#10" style="color:black;">Ma commande est-elle enregistrée ?</a></li>
            </ul>
        </div>
        <div class="col-md-8">
            <h4>IMPRIMER SON BILLET</h4>
        </div>
        <div class="col-md-7">
            <ul>
                <li><a href="#11" style="color:black;">Dois-je imprimer mon billet ?</a></li>
                <li><a href="#12" style="color:black;">Comment imprimer mon billet ?</a></li>
                <li><a href="#13" style="color:black;">Mon billet est-il bien imprimé ?</a></li>
                <li><a href="#14" style="color:black;">Je n'arrive pas à imprimer !</a></li>
            </ul>
        </div>
        <div class="col-md-8">
            <h4>ACCEDER A LA PRESTATION AVEC SON BILLET</h4>
        </div>
        <div class="col-md-7">
            <ul>
                <li><a href="#15" style="color:black;">Quelles sont les conditions d'utilisation du billet ?</a></li>
                <li><a href="#16" style="color:black;">Comment mon billet est contrôlé ?</a></li>
            </ul>
        </div>
        <div class="col-md-12">
            <div class="alert alert-info" role="alert">
                INFORMATIONS PRATIQUES
            </div>
            <ul id="1">
                <li>Combien coûte un billet ?
                <p>Le billet est à 18 €, il donne accès aux collections permanentes et aux expositions temporaires du
                    musée du Louvre et du musée Eugène-Delacroix et à l’antenne du musée du Quai Branly au Louvre.</p></li>
            </ul>
            <ul id="2">
                <li>Comment bénéficier d'un tarif réduit ?
                    <p>Un tarif réduit s’applique pour la location des audioguides, sur présentation d'un justificatif
                        en cours de validité, ou de moins d'un an, nominatif et avec photographie, pour les enfants,
                        les moins de 26 ans, les personnes handicapées et les bénéficiaires des minima sociaux.</p></li>
            </ul>
            <ul id="3">
                <li>Quels sont les jours et heures d'ouverture du musée ?
                    <p>Le musée est ouvert tous les jours, excepté le mardi, de 9h à 18h, et en nocturne jusqu'à 21h45,
                        les mercredis et vendredis.
                        La fermeture des salles commence à 17h30, et à 21h 30 en nocturne.
                        Le musée ferme exceptionnellement à 18h les mercredis et vendredis fériés ouverts
                        et à 17h les 24 et 31 décembre.</p></li>
            </ul>
            <ul id="4">
                <li>Quels sont les jours fériés ouverts au public ?
                    <p>Le musée du Louvre est ouvert les jours fériés de 9h à 18h, à l’exception des mardis,
                        du 1er janvier, du 1er mai et du 25 décembre.</p></li>
            </ul>
        </div>
        <div class="col-md-12">
            <div class="alert alert-info" role="alert">
                ACHETER SON BILLET EN LIGNE
            </div>
            <ul id="5">
                <li>Comment acheter mon billet en ligne ?
                <p>Pour acheter un billet, sélectionnez votre date de visite à l'aide du calendrier.
                    Choisissez ensuite la période où vous souhaitez venir, la quantité de billets, votre adresse électronique,
                    votre nom, votre prénom, votre date de naissance et votre pays.
                    Un récapitulatif s’affiche avant la validation de l’achat.
                    Si la commande correspond, validez. Si la commande ne convient pas, retournez à la sélection de billets.
                    Régler votre commande par carte bancaire.
                    Si le paiement est accepté, la confirmation de commande s’affiche. Vous recevez également
                    un courriel de confirmation de commande.</p>
                </li>
            </ul>
            <ul id="6">
                <li>Quelles sont les offres disponibles sur le site de la billetterie en ligne ?
                    <p>La billetterie en ligne du musée du Louvre propose des billets pour :
                        Le musée du Louvre : pour visiter les collections permanentes et les expositions temporaires
                        du musée du Louvre et du musée Eugène Delacroix.</p></li>
            </ul>
        </div>
        <div class="col-md-12">
            <div class="alert alert-info" role="alert">
                LE PAIEMENT EN LIGNE
            </div>
            <ul id="7">
                <li>Le paiement est-il sécurisé ?
                <p>Oui, votre paiement est sécurisé.</p>
                </li>
            </ul>
            <ul id="8">
                <li>Mon paiement est-il validé ?
                    <p>Votre paiement est accepté ou refusé par le centre d'autorisation des cartes bancaires.
                        La plateforme de paiement STRIPE affiche à l’écran l’accord de transaction ou son rejet.
                        En parallèle, si le paiement est accepté, vous recevez sur votre messagerie un courriel de
                        confirmation du paiement.</p>
                </li>
            </ul>
            <ul id="9">
                <li>Pourquoi mon paiement est-il refusé ?
                <p>Les causes les plus fréquentes de refus de paiement sont :<br>
                    - Une mauvaise saisie du numéro de la carte bancaire ou de sa date de validité ou du cryptogramme,<br>
                    - Une mauvaise saisie du code 3D-secure transmis par votre banque,<br>
                    - Le seuil d’autorisation d’achat de votre carte bancaire atteint ; consultez votre banque pour le connaître,<br>
                    - Une coupure internet durant la transaction.</p>
                </li>
            </ul>
            <ul id="10">
                <li>Ma commande est-elle enregistrée ?
                    <p>Votre commande est validée par l’acceptation de votre paiement. Vous recevrez sur votre messagerie
                        un courriel récapitulatif de votre commande ainsi que le lien pour imprimer vos billets.</p>
                </li>
            </ul>
        </div>
        <div class="col-md-12">
            <div class="alert alert-info" role="alert">
                IMPRIMER SON BILLET
            </div>
            <ul id="11">
                <li>Dois-je imprimer mon billet ?
                <p>Vous devez impérativement imprimer votre billet préalablement à votre visite.
                    Le billet acheté en ligne ne peut pas être retiré sur place et le courriel de confirmation
                    de votre commande ne constitue pas un titre d'accès.</p>
                </li>
            </ul>
            <ul id="12">
                <li>Comment imprimer mon billet ?
                    <p>Vous devez disposer d'une imprimante. Chaque billet doit être imprimé sans modification de
                        la taille d'impression, en pleine page, sur du papier A4 blanc, vierge recto et verso.</p>
                </li>
            </ul>
            <ul id="13">
                <li>Mon billet est-il bien imprimé ?
                <p>Un billet partiellement ou mal imprimé, endommagé ou illisible n'est pas valable.
                    Vous devez pouvoir lire: le prénom et le nom du porteur, les informations liées à la prestation
                    choisie et son numéro.
                    Vous êtes donc tenu de vérifier le détail et l'état des billets que vous avez imprimé.</p>
                </li>
            </ul>
            <ul id="14">
                <li>Je n'arrive pas à imprimer !
                    <p>Si vous avez rencontré une difficulté lors de l'impression de votre billet, vous pouvez la
                        réitérer en utilisant à nouveau le lien de téléchargement de votre billet depuis le courriel
                        de confirmation.</p>
                </li>
            </ul>
        </div>
        <div class="col-md-12">
            <div class="alert alert-info" role="alert">
                ACCEDER A LA PRESTATION AVEC SON BILLET
            </div>
            <ul id="15">
                <li>Quelles sont les conditions d'utilisation du billet ?
                <p>Le billet est personnel et nominatif. Il doit mentionner le prénom et le nom de son porteur.
                    Il permet un accès à la pyramide du Louvre dans la période indiquée sur le billet.</p>
                </li>
            </ul>
            <ul id="16">
                <li>Comment mon billet est contrôlé ?
                    <p>L'accès à la prestation est soumis au contrôle de la validité du billet.
                        Seule la première personne à présenter le billet est présumée en être le porteur légitime.
                        L'accès à la prestation peut être refusé dès lors que plusieurs impressions ou copies sont en circulation.
                        Un contrôle nominatif des billets peut également être effectué. En cas de non présentation d'un
                        document d'identité en cours de validité, avec photographie, l'accès à la prestation est refusé.
                        Vous devez conserver votre billet durant toute la durée de votre visite.</p>
                </li>
            </ul>
        </div>


    </div>









{% endblock %}
