body {
    background-color: #ffffdd;
}


.table {
    border-collapse:collapse;

}
th, td {
    border: 1px solid black;
}
td {
    text-align: center;
}
#order .btn {
    align-content: center;
}

.note {
    background-color: #ffffdd;
    border: 1px solid #CCCCCC;
    border-collapse: collapse;
    padding: 0.5em;
    display: inline;
}

footer {
    display: flex;
    align-content: space-between;
}
