<div class="col-md-4">
    <div class="general-information pt-3">
        <h3><strong>Informations Pratiques</strong></h3>
        <p><strong>Museée du Louvre:</strong>
            <br> 75058 Paris CEDEX 01
            <br> France</p>
        <p><strong>Horaires:</strong>
            <br> Ouvert tous les jours de 9h à 18h sauf le mardi.
            <br> Nocturnes jusqu'à 21h45 le jeudi et le vendredi.
            <br> L'évacuation des salles commence une demie heure avant la fermeture.</p>
        <p><strong>Jours de Fermeture:</strong>
            <br> Les mardis, le 1
            <sup>er</sup> janvier, le 1
            <sup>er</sup> mai et le 25 décembre.</p>
        <p>Tout objet d’une taille supérieure à 55 x 35 x 20 cm ne sera pas accepté à
            l’entrée de la Pyramide.</p>
    </div>


    <div class="logos pt-0">
        <h4>La vie du Louvre en direct</h4>

        <ul class="d-flex justify-content-around list-unstyled pb-2">
            <li><a href="https://www.facebook.com/museedulouvre?fref=ts" target="_blank"><img
                            src="https://www.ticketlouvre.fr/louvre/b2c/assets/img/louvre/social/facebook.png"
                            alt="facebook_logo"></a>
            </li>
            <li><a href="https://twitter.com/museelouvre" target="_blank"><img
                            src="https://www.ticketlouvre.fr/louvre/b2c/assets/img/louvre/social/twitter.png"
                            alt="twitter_logo"></a>
            </li>
            <li><a href="https://www.youtube.com/user/louvre?s" target="_blank"><img
                            src="https://www.ticketlouvre.fr/louvre/b2c/assets/img/louvre/social/youtube.png"
                            alt="youtube_logo"></a>
            </li>
            <li><a href="https://www.instagram.com/museelouvre" target="_blank"><img
                            src="https://www.ticketlouvre.fr/louvre/b2c/assets/img/louvre/social/instagram.png"
                            alt="instagram_logo"></a>
            </li>
        </ul>
    </div>
</div>
