{% extends 'base.html.twig' %}

{% block title %}Commander un billet{% endblock %}
{% block body %}
    <h1 class="pt-3">Finaliser votre commande</h1>
    <section class="pt-3">

       <p>Merci pour votre commande, vous recevrez par courriel votre code de commande sur l'adresse
       que vous nous avez communiqué {{ booking.email }}</p>

    </section>
{% endblock %}
