{% extends 'base.html.twig' %}

{% block title %}Commander un billet{% endblock %}
{% block body %}
    <h2 class="pt-3">Votre commande a bien été enregistrée</h2>
    <section class="pt-3">
        <div class="card">
            <div class="card-body">
                <p class="text-sm-left">Merci pour votre commande, vous allez recevoir par courriel les éléments de votre commande
                    sur l'adresse que vous nous avez communiqué {{ booking.email }}.<br></p>

                <p class="text-sm-left">
                    Si vous ne recevez pas le courriel de confirmation contactez-nous par le moyen de votre choix courriel ou
                    téléphone et communiquez-nous la référence de votre commande <strong>{{ booking.reference }}</strong><br></p>
                <p class="text-sm-left"> - Contactez&nbsp;: <a href="mailto:assistance-billetterie@assistance.fr" rel="nofollow">assistance-billetterie@assistance.fr</a><br>
                    Tél. : +33 (0)1 00 10 20 30
                </p>
            </div>
        </div>



    </section>
{% endblock %}
