{% extends 'base.html.twig' %}

{% block title %}Commander un billet{% endblock %}
{% block body %}
    <h1 class="pt-3">Commander votre billet</h1>
    <section class="pt-3">

        {{ form_start(form) }}
        {% for i in form %}

            {{ form_widget(form) }}




        {% endfor %}
        <button type="submit">Valider</button>

        {{ form_end(form) }}




    </section>
{% endblock %}
