{% extends 'base.html.twig' %}

{% block title %}Commander un billet{% endblock %}
{% block body %}
<div class="row">
    <h1 class="pt-3">Commander votre billet</h1>
    <div class="col-md-8">
        {{ form_start(form) }}
        {% for formTicket in form.tickets %}
            <h4>Billet n° {{ loop.index }}</h4>
            {{ form_widget(formTicket) }}


        {% endfor %}
        <button type="submit" class="btn btn-dark">Valider</button>

        {{ form_end(form) }}
    </div>

    {% include 'ticket/useful_information.html.twig' %}


</div>
{% endblock %}
