{% extends 'base.html.twig' %}

{% block title %}Commander un billet{% endblock %}
{% block body %}
    <h1 class="pt-3">Commander votre billet</h1>
    <section class="pt-3">

        {{ form_start(form) }}
        {% for formTicket in form.tickets %}
            <h4>Billet n {{ loop.index }}</h4>
            {{ form_widget(formTicket) }}
        {% endfor %}
        <button type="submit">Valider</button>

        {{ form_end(form) }}


    </section>
{% endblock %}
