{% extends 'base.html.twig' %}

{% block title %}Commander un billet{% endblock %}
{% block body %}
    <h1 class="pt-3">Finaliser votre commande</h1>
    <section class="pt-3">



        <button type="submit">Valider</button>




    </section>
{% endblock %}
