<html lang="{{ app.request.locale }}">
<body>
Bonjour,

Nous vous remercions pour votre commande ce courriel fera office de billet d'entrée`

Votre visite est prévue le {{ booking.dateOfVisit|date('d-m-Y') }}
</body>
</html>


